@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-spectral);
  
  @keyframes bounce-soft {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: linear;
    }
    50% {
      transform: translateY(-3%);
      animation-timing-function: linear;
    }
  }
  
  --animate-bounce-soft: bounce-soft 5s infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
